@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?u9v5iw');
  src:  url('fonts/icomoon.eot?u9v5iw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?u9v5iw') format('truetype'),
    url('fonts/icomoon.woff?u9v5iw') format('woff'),
    url('fonts/icomoon.svg?u9v5iw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
